---	
	import Footer from '../components/footer.astro';
	import Header from '../components/header.astro';
	import NavBar from '../components/navbar.astro';
---

<!DOCTYPE html>
<html>

<Header/>

<body>

	<NavBar/>

    <!-- Inicio contenido -->
    <div class="content">
        <header class="center line-spacing">
            <h1 >Inicio </h1>
        </header>

        <main class="mt-4">
            <section class="justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <div class="index-imgs-container">

                    <div class="align-right index-container-spacing animated-img fade-in">
                        <img class="image-style" src="https://www.hola.com/imagenes/decoracion/20211015197376/ideas-decoracion-escritorio-aesthetic/1-5-805/decoracion-escritorio-aesthetic-panel-z.jpg">
                    </div>

                    <div class="align-left index-container-spacing index-image-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>

                    <div class="align-right index-container-spacing index-image-text index-container-3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>

                    <div class="align-left index-container-spacing index-container-4 animated-img fade-in">
                        <img class="image-style" src="https://www.hola.com/imagenes/decoracion/20211015197376/ideas-decoracion-escritorio-aesthetic/1-5-805/decoracion-escritorio-aesthetic-panel-z.jpg">
                    </div>

                    <div class="align-right index-container-spacing animated-img fade-in">
                        <img class="image-style" src="https://www.hola.com/imagenes/decoracion/20211015197376/ideas-decoracion-escritorio-aesthetic/1-5-805/decoracion-escritorio-aesthetic-panel-z.jpg">
                    </div>

                    <div class="align-left index-container-spacing index-image-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </section>
        </main>

    </div>
    <!-- Fin contenido -->

    <!-- Inicio footer -->
	<Footer/>
    <!-- fin footer -->    
    
</body>
</html>