<footer class="footer">

    <ul class="footer-list footer-flex">

        <li>
            <a target="_blank" href="mailto:alvarezanaliar@gmail.com">
                <img class="footer-icon" src="/assets/imgs/mail.png" alt="E-mail:">
            </a>
        </li>

        <li>
            <a target="_blank" href="https://www.instagram.com/psicopocket/?hl=es-la">
                <img class="footer-icon" src="/assets/imgs/instagram.png" alt=Instagram:>
            </a>
        </li>

    </ul>
</footer>