---     
    import '../styles/global.css';        
---

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proyecto Analia Alvarez</title>

    <meta name="title" content="Proyecto Analia Alvarez">
    <meta name="type" content="website">
    <meta name="url" content="http://www.analiaalvarez.com/">
    <meta name="site_name" content="analiaalvarez.com">
    <meta name="description" content="Pagina web de Analia Alvarez.">

    <meta name="keywords" content="psicologia, psicopocket, psico, psicologa, psicologia online">    

    <script is:inline src="/assets/bootstrap.js"></script>
    <link rel="stylesheet"  href="/assets/bootstrap.css"/>
</head>