<!-- Inicio Navbar -->
<nav class="navbar">
    <ul class="navbar-list navbar-flex">
        <li>
            <a href="/"> Inicio </a>
        </li>
        <li>
            <a href="/about"> Sobre mi </a>
        </li>
        <li>
            <a href="/services"> Servicios Profesionales </a>
        </li>
        <li>
            <a href="/articles"> Articulos Cientificos </a>
        </li>
        <li>
            <a href="/contact"> Contacto </a>
        </li>
    </ul>
</nav>
<!-- Fin Navbar -->